//colores principales
$mainColor: #707070;
$darkColor: #151515;

//colores del formulario
$formBorderColor: #e6e6e6;
$formBackColor: #fafafa;

//colores grilla
$grillaTextColor: #ffffff;

//iconos de pagina de contacto
$img-iconos: (
	celu: 'img/iconos/celular.png',
	corr: 'img/iconos/correo.png',
	mapa: 'img/iconos/mapa.png'
);